html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/imgs/pexels-photo-1227511.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 46px;
    color: #ac46a1;
    margin-top: -0.3rem;
}

div .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
}

.grid {
    width: 300px;
    height: 300px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: linear-gradient(to bottom, rgba(99, 252, 106, 0.5), rgba(106, 255, 131, 0.5)), url(/imgs/pexels-photo-413195.jpeg);
    background-size: cover;
    margin-left: 2.5rem;
}

.grid div {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

.secondary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.score {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score p {
    color: #07084c;
    font-size: 26px;
}

.score .scoreDisplay {
    color: aquamarine;
    font-size: 26px;
}

.popup {
    position: absolute;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}

.popup button {
    width: 90px;
    height: 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
    background: #5390d9;
    color: #fae1dd;
    cursor: pointer;
    font-size: 8px;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.popup button:hover {
    background: #d8e2dc;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}



.button button {
    width: 50px;
    height: 30px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background: #adb5bd;
    cursor: pointer;
    color: #ffb3c1;
    margin-bottom: -10px;
    font-size: 5px;
    border: 1px solid #b100e8;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    margin-left: 5rem;
}

.button button:hover {
    background: #e500a4;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}



.button .btn {
    display: flex;
}

.button .top {
    margin-left: 9rem;
}

.button .bottom {
    margin-left: 9rem;
}

.snake {
    background: #6f0a36;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.apple {
    background: #8ac926;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}